<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/head}"/>
<body>
<th:block th:insert="~{fragments/header}"/>

<main>
    <div class="container">
        <div class="container-fluid">
            <h2 class="text-center text-light">Delete Vehicle</h2>
            <form class="form text-white" th:action="@{/vehicles/delete-vehicle/{id}(id=${vehicle.id})}"
                  th:method="patch"><input type="hidden"  name="_csrf" value="80417983-fe8b-45c7-963e-31f6915a1560">
                <div class="row col justify-content-center">
                    <div class="form-group">
                        <div class="label-holder d-flex justify-content-center">
                            <label class="text-center text-white font-weight-bold" for="type">Type
                                <input type="text" class="form-control text-center" id="type" name="type"
                                       th:value="${vehicle.type}" disabled>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row col justify-content-center">
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Brand</label>
                            <input type="text" class="form-control text-center" id="brand" name="brand"
                                   th:value="${vehicle.brand}" disabled>
                            </div>
                    </div>
                    <div class="col col-md-3">
                        <div class="form-group">
                            <label class="font-weight-bold">Model</label>
                            <input type="text" class="form-control text-center" id="model" name="model"
                                   th:value="${vehicle.model}" disabled>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="text-center" style="font-size: 36px;">Are you sure you want to delete this item?</p>
                </div>

                    <div class="row col justify-content-center">
                        <div class="col col-md-3">
                    <div class="button-holder d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger">DELETE</button>
                    </div>
                        </div>

                    </div>
            </form>
        </div>
        <hr class="my-3"/>
    </div>
</main>
<th:block th:insert="~{fragments/footer}"/>
</body>
</html>