<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/head}"/>
<body>
<th:block th:insert="~{fragments/header}"/>

<main>
    <div class="container">
        <div class="container-fluid">
            <h2 class="text-center text-light">Edit Vehicle</h2>
            <form class="mx-auto w-75"
                  th:action="@{/vehicles/edit-vehicle/{id}(id=${id})}"
                  th:method="patch"
                  th:object="${vehicle}"
            >

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>

                <input type="hidden" name="_csrf" value="80417983-fe8b-45c7-963e-31f6915a1560">

                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="font-weight-bold text-white" for="type">Type</label>
                            <select id="type" name="type" class="form-control">
                                <option disabled th:text="${vehicle.type}" class="OldDisabled"></option>
                                <option value="Car">Car</option>
                                <option value="Motor">Motor</option>
                                <option value="Truck">Truck</option>
                            </select>
                            <small th:errors="*{type}" id="typeUniqueError"
                                   class=" bg-danger text-white rounded"></small>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="font-weight-bold text-white" for="brand">Brand</label>
                            <textarea name="brand" id="brand" class="form-control" rows="1" th:placeholder="${vehicle.brand}"></textarea>
                            <small th:errors="*{brand}" id="brandUniqueError"
                                   class=" bg-danger text-white rounded"></small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="font-weight-bold text-white" for="model">Model</label>
                            <textarea name="model" id="model" class="form-control" rows="1" th:placeholder="${vehicle.model}"></textarea>
                            <small th:errors="*{model}" id="modelUniqueError"
                                   class=" bg-danger text-white rounded"></small>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="font-weight-bold text-white" for="year">Year</label>
                            <input type="number" step="any" class="form-control text-center" id="year" name="year" th:placeholder="${vehicle.year}">
                            <small th:errors="*{year}" id="yearUniqueError"
                                   class=" bg-danger text-white rounded"></small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="font-weight-bold text-white" for="mileage">Mileage</label>
                            <input type="number" step="any" class="form-control text-center" id="mileage" name="mileage" th:placeholder="${vehicle.mileage}">
                            <small th:errors="*{mileage}" id="mileageUniqueError"
                                   class=" bg-danger text-white rounded"></small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="font-weight-bold text-white" for="transmission">Transmission</label>
                            <select id="transmission" name="transmission" class="form-control">
                                <option disabled th:text="${vehicle.transmission}" class="OldDisabled"></option>
                                <option value="Automatic">Automatic</option>
                                <option value="Semi-automatic">Semi-Automatic</option>
                                <option value="Manual">Manual</option>
                            </select>
                            <small th:errors="*{transmission}" id="transmissionUniqueError"
                                   class=" bg-danger text-white rounded"></small>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="font-weight-bold text-white" for="euroStandard">Euro Standard</label>
                            <select id="euroStandard" name="euroStandard" class="form-control">
                                <option disabled th:text="${vehicle.euroStandard}" class="OldDisabled"></option>
                                <option value="EURO1">EURO1</option>
                                <option value="EURO2">EURO2</option>
                                <option value="EURO3">EURO3</option>
                                <option value="EURO4">EURO4</option>
                                <option value="EURO5">EURO5</option>
                                <option value="EURO6">EURO6</option>
                            </select>
                            <small th:errors="*{euroStandard}" id="euroStandardUniqueError"
                                   class=" bg-danger text-white rounded"></small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="font-weight-bold text-white" for="fuelType">Fuel Type</label>
                            <select id="fuelType" name="fuelType" class="form-control">
                                <option disabled th:text="${vehicle.fuelType}" class="OldDisabled"></option>
                                <option value="Gasoline">Gasoline</option>
                                <option value="Diesel">Diesel</option>
                                <option value="Electric">Electric</option>
                                <option value="Hybrid">Hybrid</option>
                            </select>
                            <small th:errors="*{fuelType}" id="fuelTypeUniqueError"
                                   class=" bg-danger text-white rounded"></small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="font-weight-bold text-white" for="color">Color</label>
                            <select id="color" name="color" class="form-control">
                                <option disabled th:text="${vehicle.color}" class="OldDisabled"></option>
                                <option value="Black">Black</option>
                                <option value="Gray">Gray</option>
                                <option value="Brown">Brown</option>
                                <option value="Red">Red</option>
                                <option value="Blue">Blue</option>
                                <option value="White">White</option>
                                <option value="Orange">Orange</option>
                                <option value="Silver">Silver</option>
                                <option value="Gold">Gold</option>
                                <option value="Green">Green</option>
                                <option value="Yellow">Yellow</option>
                                <option value="Purple">Purple</option>
                            </select>
                            <small th:errors="*{color}" id="colorUniqueError"
                                   class=" bg-danger text-white rounded"></small>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mb-3">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-success">Edit Vehicle</button>
                    </div>
                </div>
            </form>
        </div>
        <hr class="my-3"/>
    </div>
</main>

<th:block th:insert="~{fragments/footer}"/>
</body>
</html>
